name: infra-eks

on:
  push:
    branches: [ main, feat* ]
    paths:
      - "tf_infra/**"
  workflow_dispatch:

env:
  AWS_REGION: us-east-1
  ECR_REPO_NAME: ${{ vars.ECR_REPO_NAME }}
  AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}

jobs:
  terraform:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      # Checkout
      - uses: actions/checkout@v4

      # Terraform setup
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      # Configure AWS credentials
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.TF_ASSUME_ROLE }}
          aws-region: us-east-1

      - name: Terraform Init
        run: terraform -chdir=tf_infra init

      - name: Terraform Plan
        run: terraform -chdir=tf_infra plan

      - name: Terraform Apply
        run: terraform -chdir=tf_infra apply -auto-approve
