name: manual-destroy

on:
  workflow_dispatch:

env:
  AWS_REGION: eu-west-2
  ECR_REPO_NAME: ${{ vars.ECR_REPO_NAME }}

jobs:
  docker-cleanup:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.TF_ASSUME_ROLE }}
          aws-region: eu-west-2
      - name: Delete all images from ECR
        run: |
          IMAGE_IDS=$(aws ecr list-images --repository-name $ECR_REPO_NAME --query 'imageIds[*]' --output json)
          if [ "$IMAGE_IDS" != "[]" ]; then
            aws ecr batch-delete-image --repository-name $ECR_REPO_NAME --image-ids "$IMAGE_IDS"
          fi

  terraform-destroy:
    needs: docker-cleanup
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: tf_infra

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        run: terraform init

      - name: Terraform Destroy
        run: terraform destroy -auto-approve
