name: terraform

on:
  push:
    branches:
      - main
      - feat*
  workflow_dispatch:
  
env:
    AWS_REGION: us-east-1
    ECR_REPO_NAME: ${{ vars.ECR_REPO_NAME }}
    AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}

permissions:
  id-token: write
  contents: read
  actions: read

jobs:

  terraform:
    name: "Terraform"
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: tf_infra

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.TF_ASSUME_ROLE }}
          aws-region: us-east-1

      - name: Terraform validate
        run: |
          terraform init
          terraform fmt
          terraform validate

      - name: Linting
        uses: terraform-linters/setup-tflint@v4
      - run: |
          tflint --init
          tflint

      - name: Checkov Scan
        id: checkov
        uses: bridgecrewio/checkov-action@v12
        with:
          directory: tf_infra
          check: CKV_AWS_1,CKV_AWS_2,CKV_AWS_41
          soft_fail: true

      - name: Terraform Plan
        run: |
          terraform plan

      - name: Terraform Apply
        run: |
          terraform apply -auto-approve

      - name: Wait for EKS Cluster
        run: |
          aws eks wait cluster-active --name eks-cluster --region us-east-1

  argo-deploy:
    name: Argo Deploy
    runs-on: ubuntu-latest
    needs: terraform
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.TF_ASSUME_ROLE }}
          aws-region: us-east-1

      - name: Setup kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: "latest"

      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig --region us-east-1 --name eks-cluster
          kubectl wait --for=condition=Ready nodes --all --timeout=300s

      - name: Issuer
        run: kubectl apply -f manifests/cluster-issuer.yaml
   
      - name: Deploy application
        run: |
          kubectl apply -f manifests/namespace.yaml
          kubectl apply -f argo-cd/application.yaml    
  
      - name: Apply manifests
        run: 
          kubectl apply -f manifests/deployment.yaml
          kubectl apply -f manifests/ingress.yaml
          kubectl apply -f manifests/service.yaml
             
      - name: Decode password
        run: kubectl -n argo-cd get secret argocd-initial-admin-secret -o jsonpath="{.data.password}" | base64 -d || echo "Secret not found"
